.font-jp {
    font-family: "M PLUS Rounded 1c", sans-serif;
}
body{
    background:url(p_new0021_m_new00213.svg);
}

.textbox-bg{
    background-color: #f9eab2;
}
.greenback{
    width: 1524px;
    height: 866px;
    background: #00ff00;
    border-width: 20px;
    border-style: hidden ridge ridge hidden;
}
.title{
    width: 376px;
    height: 150px;
    left: 1535px;
    top: 200px;
    line-height: 130px;
}
.bottom-box{
    width: 1024px;
    height: 140px;
    left: 500px;
    top: 870px;

}
.right-box{
    width: 376px;
    height: 650px;
    left: 1535px;
    top: 360px;
}
.right-box.upper{
    top:360px;
    height: 320px;
}
.right-box.lower{
    top: 690px;
    height: 320px;
}

.bottom-border{
    border-style: solid hidden hidden hidden;
}

.logo{
    left: 1535px;
    top:15px;
    width: 376px;
}
.scroll{
    padding-left: 1000px;
}
