.font-jp {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.frame-back{
    background:url(svg/background.svg);
    position: absolute;
    left: 1504px ;
    top: 0px ;
    width: 100vw;
    height: 100vw;
}
.frame-back::after{
    content: "";
    background:url(svg/background.svg);
    position: absolute;
    left: -1504px;
    top: 846px;
    width: 100vw;
    height: 100vw;
}

.textbox-bg{
    background-color: #f9eab2;
}
.greenback{
    width: 1524px;
    height: 866px;
    border-width: 20px;
    border-style: hidden ridge ridge hidden;
}
.title{
    width: 376px;
    height: 150px;
    left: 1535px;
    top: 200px;
}
.bottom-box{
    width: 1024px;
    height: 140px;
    left: 500px;
    top: 870px;

}
.right-box{
    width: 376px;
    height: 650px;
    left: 1535px;
    top: 360px;
}
.right-box.upper{
    top:360px;
    height: 320px;
}
.right-box.lower{
    top: 690px;
    height: 320px;
}

.bottom-border{
    border-style: solid hidden hidden hidden;
}

.logo{
    left: 1535px;
    width: 376px;
}

.current{
    width: 380px;
    height: 150px;
}

